/* Variables */
:root {
  --basic-black: #000000;
  --black-opacity-60: rgba(0, 0, 0, 0.6);
  --black-opacity-30: rgba(0, 0, 0, 0.3);
  --black-opacity-15: rgba(0, 0, 0, 0.15);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-dark:#DCDCDC;
  --pagination-background: #EBEBEB;
  --pagination-button-hover: #D9D9D9;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark:#F0C52E;
  --background: #888888;
  --input-background: #F2F2F2;
  --input-background-hover: #EAEAEA;
  --field-error: #F6DADA;
}

/* Fonts */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2'),
       url('../fonts/gilroylight.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2'),
       url('../fonts/gilroyextrabold.woff');
  font-weight: 800;
  font-style: normal;
}


/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Global */
body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Main-navigation */
.main-header {
  background-color: var(--basic-white);
}

.main-navigation {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-navigation a {
  color: var(--basic-black);
}

.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* main-header-search */
.main-header-search {
  display: flex;
}

.search-field {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 38px;
  padding-right: 15px;
  box-sizing: border-box;
  border: none;

  background-color: transparent;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  border-bottom: 2px solid transparent;
}

.search-field:focus {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
}

.search-field::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}


/* search-find */
.search-find {
  display: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid var(--basic-black);

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-field:focus + .search-find {
  display: block;
}

.search-find:hover {
  display: block;
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-find:active {
  color: var(--white-opacity-30);
}

/* site-navigation */
.site-navigation {
  margin: 0;
  padding: 0;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
}

.main-navigation a:hover {
  opacity: 0.6;
}

.main-navigation a:active {
  opacity: 0.3;
}

.dropdown-catalog-navigation {
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  list-style: none;
}


/* Main-container */
.main-container {
  background-color: var(--basic-white);
}

/* Promo-slider */
.promo-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-slogan {
  margin: 0;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slider-desc {
  margin: 0;

  line-height: 20px;
}

.button {
  position: relative;
  z-index: 1;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);

}

.button::before {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 0;
  z-index: -1;

  content: '';
  width: 100%;
  height: 8px;

  background: var(--special-yellow-dark);
}

.button:hover::before,
.button:focus::before {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.button:active {
   color: var(--black-opacity-30);
}

.slider-specification dd {
  margin: 0;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-specification dt {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/* promo-slider-controls */
.promo-slider-controls button {
  background-color: transparent;
  border: none;
}


/* product-groups-list */
.product-groups-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-group-name {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}


/* main-services-slider */
.main-services-slider {
  background-color: var(--basic-grey-light);
}

/* services-slider-list */
.services-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider-item h3 {
  margin: 0;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-slider-item p {
  margin: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

/* services-slider-controls */
.services-slider-controls button {
  background-color: transparent;
  border: none;
}

/* main-brand-list */
.main-brand-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-brand-item img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.main-brand-item img:hover,
.brand-section:focus img {
  filter: grayscale(0);
  opacity: 1;
}


/* about-us */
.about-us h2 {
  margin: 0;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us p {
  margin: 0;
}

/* delivery-services-list */
.delivery-services-list {
  margin: 0;
  padding-left: 20px;
  list-style-type: circle;
}

.delivery-services-list li {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}


/* main-contacts */
.main-contacts h2 {
  margin: 0;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.main-contacts p {
  margin: 0;
}


/* Footer */
.footer {
  background-color: var(--basic-dark);
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

/* footer-user-navigation */
.footer-user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-user-navigation a {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

/* footer-addres */
.footer-addres {
  margin: 0;

  line-height: 20px;
  color: var(--basic-white);
}

/* footer-services-list */
.footer-services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-services-list a {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-services-list a:hover {
  opacity: 0.6;
}

.footer-services-list a:active {
  opacity: 0.3;
}

/* footer-telephone-number */
.footer-telephone-number,
.footer-telephone-number a {
  line-height: 20px;
  color: var(--basic-white);
}

/* footer-social */
.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* social-button */
.social-button path {
  fill: var(--basic-white);
  opacity: 0.3;
}

.social-button:hover path,
.social-button:focus path {
  opacity: 0.6;
}

.social-button:active path {
  opacity: 0.1;
}

/* developer */
.dev-link path {
  fill: var(--special-yellow-dark);
}

.dev-link:hover path {
  opacity: 0.6;
}

.dev-link:active path {
  opacity: 0.3;
}

/* modal */
/* .modal {
  display: none;
} */

/* write-us */
.write-us {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px var(--black-opacity-15);
}

.write-us label {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.write-us input,
.write-us textarea {
  border: 2px solid transparent;
  background-color: var(--input-background);
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: var(--input-background-hover);
}

.write-us input:focus,
.write-us textarea:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow);
  outline: none;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

input.field-error {
  background-color: var(--field-error);
}

/* send */
.send {
  background-color: transparent;
  border: none;
}


/* Inner-page */
.inner-page h1 {
  margin: 0;

  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-current {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Filter */
.catalog-filter {
  background-color: var(--basic-grey-light);
}

.catalog-filter h2,
.catalog-filter h3 {
  margin: 0;
}

.catalog-filter h2 {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-grey-dark);
}

.catalog-filter legend {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.catalog-filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter h3 {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

/* fieldset */
.catalog-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter label {
  font-size: 14px;
  line-height: 19px;
}

/* show */
.catalog-filter .show {
  border: none;
  background-color: transparent;
}

/* catalog-sort */
.catalog-sort {
  background-color: var(--basic-grey-light);
}

.catalog-sort h2 {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-sort ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-sort-list a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-sort-list a:hover {
  opacity: 0.6;
}

.catalog-sort-list a:active {
  opacity: 1;
}

.sort-current a:not([href]) {
  opacity: 1;
}

/* hotels-sort-quantity */
.sort-quantity-item path {
  fill: var(--basic-black);
  opacity: 0.2;
}

.sort-quantity-item.active path {
  opacity: 1;
}

.sort-quantity-item:hover:not(.active) path {
  opacity: 0.4;
}

.sort-quantity-item:active:not(.active) path {
  opacity: 1;
}

/* price-list */
.price-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* add-compare */
.add-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  color: var(--basic-black);
}

.add-compare:hover {
  opacity: 1;
}

.add-compare:active {
  opacity: 0.2;
}

/* price-list-desc */
.price-list-desc h3 {
  margin: 0;
}

.price-list-desc a {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.price-list-desc .item-price {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/* catalog-pagination */
.catalog-pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-opacity-30);
  background-color: var(--pagination-background);
}

.pagination-item a:hover {
  color: var(--black-opacity-60);
}

.pagination-item a:hover {
  color: var(--basic-black);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
}

/* pagination-button */
.pagination-button {
  font-family: 'Gilroy', Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--pagination-background);
}

.pagination-button:hover {
  background-color: var(--pagination-button-hover);
}

.pagination-button:active {
  color: var(--black-opacity-30);
  background-color: var(--pagination-button-hover);
}

.pagination-button.disabled:not([href]) {
  cursor: default;
  color: var(--basic-black);
  background-color: var(--pagination-background);
}
