/* Variables */
:root {
  --basic-black: #000000;
  --black-opacity-60: rgba(0, 0, 0, 0.6);
  --black-opacity-30: rgba(0, 0, 0, 0.3);
  --black-opacity-20: rgba(0, 0, 0, 0.2);
  --black-opacity-15: rgba(0, 0, 0, 0.15);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-dark:#DCDCDC;
  --pagination-background: #EBEBEB;
  --pagination-button-hover: #D9D9D9;
  --special-yellow: #F7E296;
  --special-yellow-rare: #FFC600;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --input-background: #F2F2F2;
  --input-background-hover: #EAEAEA;
  --field-error: #F6DADA;
  --background-item-hover: rgba(238, 238, 238, 0.5);
}

/* Fonts */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2'),
       url('../fonts/gilroylight.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2'),
       url('../fonts/gilroyextrabold.woff');
  font-weight: 800;
  font-style: normal;
}


/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Global */
body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--basic-white);

}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1160px 1fr;
  grid-template-areas:
    '. header .'
    '. main .'
    '. footer .';
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  width: 100%;
  overflow-x: hidden;
  background-color: var(--basic-white);
}

/* Main-navigation */
.main-header {
  grid-area: header;
}

.main-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-bottom: -5px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  z-index: 2;
}

.main-navigation a {
  margin-bottom: 10px;

  color: var(--basic-black);
}

/* main-header-logo */
.main-header-logo {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: auto;
}

.navigation-wrapper {
  box-sizing: border-box;

  display: flex;
  margin-bottom: 15px;
}

/* main-header-search */
.main-header-search {
  position: relative;
  display: flex;
  width: 50%;
  padding-left: 60px;
  height: 50px;
}

.main-header-search svg {
  position: absolute;
  top: 50%;
  margin-top: -7px;
}

.search-field {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 38px;
  padding-right: 15px;
  box-sizing: border-box;
  border: none;

  background-color: transparent;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  border-bottom: 2px solid transparent;
}

.search-field:focus {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
}

.search-field::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}


/* search-find */
.search-find {
  height: 50px;
  display: none;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid var(--basic-black);

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-field:focus + .search-find {
  display: block;
}

.search-find:hover {
  display: block;
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-find:active {
  color: var(--white-opacity-30);
}

/* user-navigation */
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  list-style: none;
}

.user-navigation li {
  position: relative;
}


.user-navigation li:nth-child(3n+1) {
  padding-left: 14px;
  margin-right: auto;
}

.user-navigation li:nth-child(3n+2) {
  margin-right: 25px;
  padding-left: 40px;
}

.user-navigation li:nth-child(3n+3)  {
  margin-right: 60px;
  padding-left: 40px;
}

.header-enter svg {
  position: absolute;
  top: 50%;
  left: -8px;
  margin-top: -14px;
}

.header-compare svg {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
}
.header-cart svg {
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -15px;
}

/* site-navigation */
.site-navigation {
  display: grid;
  grid-template-columns: 50% 180px 200px 140px;

  margin: 0;
  margin-left: 60px;
  margin-right: 60px;
  padding: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
}


.site-navigation li:nth-child(4n+1) {
  padding-right: 20px;
}

.site-navigation li:nth-child(4n+2) {
  padding-left: 20px;
  padding-right: 20px;
}

.site-navigation li:nth-child(4n+4) {
  padding-left: 20px;
}

.site-navigation li:last-child:not(.dropdown-catalog-navigation li) {
  text-align: right;
}

.site-navigation a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-navigation {
  position: relative;
  width: 50%;
}

.catalog-navigation a {
  letter-spacing: 0.1em;
}

.main-navigation a:hover {
  opacity: 0.6;
}

.main-navigation a:active {
  opacity: 0.3;
}

.catalog-navigation svg {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 210px;
}

.catalog-navigation:hover .dropdown-catalog-navigation,
.dropdown-catalog-navigation:hover {
  display: grid;
}

.catalog-navigation:hover < .main-header,
.dropdown-catalog-navigation:hover < .main-header {
  z-index: 2;
}

/* dropdown-catalog-navigation */
.dropdown-catalog-navigation {
  position: absolute;
  top: 17px;
  left: -60px;
  display: none;
  grid-template-columns: 200px 200px 200px;
  grid-row-gap: 14px;

  width: 1160px;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 41px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;

  list-style: none;
  background-color: var(--special-yellow);
  z-index: 1;
}

.dropdown-catalog-navigation li:nth-child(4n+4) {
  padding-left: 0;
}

.dropdown-catalog-navigation li:nth-child(3n+2) {
  padding-left: 40px;
}

.dropdown-catalog-navigation li:nth-child(3n+3) {
  padding-left: 25px;
}

.dropdown-catalog-navigation li:last-child {
  grid-row: 3/4;
  padding-left: 0;
}

.dropdown-catalog-navigation a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0;
  background-color: var(--special-yellow);
}

/* Main-container */
.main-container {
  grid-area: main;
}

/* main-promo-slider */
.main-promo-slider {
  position: relative;
}

.main-promo-slider::before {
  content: "";
  position: absolute;
  top: -153px;
  width: 1160px;
  height: 300px;
  background-color: var(--special-yellow);
  z-index: -1;
}

/* Promo-slider-list */
.promo-slider-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-item {
  display: flex;
  position: relative;
  margin-bottom: 115px;
  z-index: 1;
}

.promo-slider-image {
  display: flex;
  width: 50%;
  margin-right: 35px;
  padding-top: 15px;
}

.promo-slider-image img {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.slider-right-column {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 111px;
  z-index: 1;
}

.slider-right-column::before {
  content: '';
  position: absolute;
  top: 52px;
  left: 8px;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  z-index: -1;
}

.promo-slider-text {
  margin-bottom: 51px;
}

.promo-slider-slogan {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 2px;
  padding-right: 60px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slider-desc {
  margin: 0;
  padding-left: 2px;
  padding-right: 60px;

  line-height: 20px;
}

.hide-slide {
  display: none;
}

/* button */
.button {
  position: relative;
  z-index: 1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);

}

.button::before {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 0;
  z-index: -1;

  content: '';
  width: 100%;
  height: 8px;

  background: var(--special-yellow-dark);
}

.button:hover::before,
.button:focus::before {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.button:active {
   color: var(--black-opacity-30);
}

/* slider-button */
.slider-button {
  display: block;
  margin-left: 4px;
  margin-right: auto;
  margin-bottom: 52px;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 9px;
  padding-bottom: 9px;
}

/* slider-number */
.slider-number {
  position: absolute;
  top: 0;
  right: 47px;

  font-family:  'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  z-index: -1;
}

/* slider-specification */
.slider-specification {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding-left: 4px;
  padding-right: 60px;
}

.slider-specification div {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 61px;
}

.slider-specification div:last-child {
  margin-right: auto;
}

.slider-specification dt {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-specification dt:last-child {
  flex-grow: 1;
}

.slider-specification dd {
  /* min-width: 160px; */
  margin: 0;
  margin-bottom: 15px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-specification dd:last-child {
  margin-right: auto;
  flex-grow: 1;
}

/* promo-slider-controls */
.promo-slider-controls {
  position: absolute;
  top: 350px;
  right: 72px;
}

.promo-slider-controls button {
  background-color: transparent;
  border: none;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}


/* product-groups-list */
.product-groups-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 84px;
  padding: 0;

  list-style: none;
}

.product-group {
  position: relative;
  width: 160px;
  z-index: 1;
}

.product-group::before {
  position: absolute;
  content: '';
  top: 0;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  z-index: -1;
}

.product-group:hover::before {
  background-color: var(--special-yellow-dark);
}

.product-group:active path {
  opacity: 0.3;
}

.product-group svg {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
}

.product-group-name {
  display: block;
  padding-top: 198px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.product-group:nth-child(4) .product-group-name {
  letter-spacing: 0;
}

.product-group-name:active {
  color: var(--black-opacity-30)
}


/* main-services-slider */
.main-services-slider {
  margin-bottom: 190px;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 280px auto;
  min-height: 288px;
}

.main-services-slider::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: var(--basic-grey-light);
  z-index: -1;
}

.main-services-slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 277px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
  z-index: 1;
}

/* services-slider-controls */
.services-slider-controls {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.services-slider-controls button {
  margin-bottom: 21px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
  border: none;
  width: 160px;
  margin-right: 117px;
}

.services-slider-controls .current-service-btn {
  color: var(--special-yellow);
}

.services-slider-controls .current-service-btn::before {
  position: absolute;
  height: 40px;
  width: 277px;
  top: 0;
  margin-top: 0;
  background: var(--basic-black);
}

/* services-slider-list */
.services-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* services-slider-item */
.services-slider-item {
  position: relative;
}

.services-slider-item h3 {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 70px;
  padding-left: 120px;
  padding-right: 200px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-slider-item p {
  margin: 0;
  padding-left: 120px;
  padding-right: 180px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.services-slider-item svg {
  position: absolute;
  top: 71px;
  right: 2px;
}

/* main-brands */
.main-brands {
  margin-bottom: 82px;
}

/* main-brand-list */
.main-brand-list {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-column-gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-brand-item img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.main-brand-item img:hover,
.brand-section:focus img {
  filter: grayscale(0);
  opacity: 1;
}

/* index-columns */
.index-columns {
  display: flex;

  margin-bottom: 77px;
}

/* about-us */
.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-us::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us h2 {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 57px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us p {
  margin: 0;
  margin-bottom: 40px;
  padding-right: 72px;
}

.about-us p:last-of-type {
  margin-bottom: 60px;
}

/* delivery-services-list */
.delivery-services-list {
  margin: 0;
  margin-bottom: 68px;
  padding-left: 32px;
  list-style-type: none;
}

.delivery-services-list li {
  margin-bottom: 15px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.delivery-services-list li:last-child {
  margin-bottom: 0;
}

.more-about-us {
  display: block;

  margin-right: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 24px;
  padding-right: 18px;
}

/* main-contacts */
.main-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-contacts::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.main-contacts h2 {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 57px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.main-contacts p {
  margin: 0;
  margin-bottom: 40px;
}

.map-mini {
  margin-bottom: 68px;
}

.write-us-btn {
  display: block;

  margin-right: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 38px;
  padding-right: 38px;
}


/* Footer */
.footer {
  position: relative;
  grid-area: footer;
  background-color: var(--basic-dark);
  z-index: 1;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: var(--basic-dark);
  z-index: -1;
}

/* footer-wrapper-row */
.footer-wrapper-row {
  display: flex;
  margin-bottom: 27px;
}

.main-footer-logo {
  margin-right: auto;
  padding-top: 64px;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

/* footer-user-navigation */
.footer-user-navigation {
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 42px;

  list-style: none;
}

.footer-enter svg {
  position: absolute;
  top: 10px;
  left: -23px;
}

.footer-compare svg {
  position: absolute;
  top: 11px;
  left: -23px;
}
.footer-cart svg {
  position: absolute;
  top: 9px;
  left: -23px;
}

.footer-user-navigation li {
  position: relative;
  margin-left: 65px;
}

.footer-user-navigation a {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}


.footer-wrapper-middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 65px;
}

/* footer-addres */
.footer-addres {
  margin: 0;
  text-align: left;
  vertical-align: middle;

  line-height: 20px;
  color: var(--basic-white);
}

/* footer-services-list */
.footer-services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-services-list li {
  margin-right: 33px;
}

.footer-services-list li:last-child {
  margin-right: 0;
}


.footer-services-list a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-services-list a:hover {
  opacity: 0.6;
}

.footer-services-list a:active {
  opacity: 0.3;
}

/* footer-telephone-number */
.footer-telephone-number {
  text-align: right;
}

.footer-telephone-number,
.footer-telephone-number a {
  line-height: 20px;
  color: var(--basic-white);
}

.last-footer-wrapper {
  position: relative;
  margin-bottom: 65px;
}

.last-footer-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-rare);
}

/* footer-social */
.footer-social {
  position: relative;
  display: flex;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

/* social-button */
.social-button {
  margin-right: 20px;
}

.social-button:last-child {
  margin-right: 0;
}



.social-button path {
  fill: var(--basic-white);
  opacity: 0.3;
}

.social-button:hover path,
.social-button:focus path {
  opacity: 0.6;
}

.social-button:active path {
  opacity: 0.1;
}

/* developer */
.developer {
  position: absolute;
  top: 50%;
  right: 0;

  margin-top: -21px;
}

.dev-link path {
  fill: var(--special-yellow-dark);
}

.dev-link:hover path {
  opacity: 0.6;
}

.dev-link:active path {
  opacity: 0.3;
}

/* modal */
.modal {
  display: none;
}

/* write-us */
.write-us {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px var(--black-opacity-15);
}

.write-us label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.write-us input,
.write-us textarea {
  border: 2px solid transparent;
  background-color: var(--input-background);
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: var(--input-background-hover);
}

.write-us input:focus,
.write-us textarea:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow);
  outline: none;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

input.field-error {
  background-color: var(--field-error);
}

/* send */
.send {
  background-color: transparent;
  border: none;
}


/* Inner-page */
.inner-main {
  display: grid;
  grid-template-columns: 328px 1fr;
}

.inner-page .main-navigation::before {
  height: 186px;
}

.inner-page .main-header {
  margin-bottom: 77px;
}

.inner-page .navigation-wrapper::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 1160px;
  height: 186px;
  background-color: var(--special-yellow);
  z-index: -1;
}

.logged {
  display: grid;
  grid-template-columns: 160px 100px 140px 120px;
}

.logged li {
  position: relative;
  margin-bottom: 20px;
}

.logged li:nth-child(4n+1) {
    margin-right: 0;
    padding-left: 14px;
}

.logged li:nth-child(4n+2) {
    margin-right: 0;
    padding-left: 4px;
}

.logged li:nth-child(4n+3) {
    margin-right: 0;
    padding-left: 37px;
}

.logged li:nth-child(4n+4) {
    margin-right: 0;
    padding-left: 30px;
}

.logged .icon-user {
  position: absolute;
  top: 6px;
  left: -8px;
}

.logged .icon-compare {
  top: 20px;
  left: 13px;
}

.logged .icon-cart {
  top: 20px;
  left: 8px;
}

.inner-page h1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 0;
  margin-bottom: 26px;
  padding-left: 60px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* breadcrumbs */
.breadcrumbs {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs li:not(:last-child) {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 12px;
  right: -21px;
  width: 4px;
  height: 6px;
  background-image: url(../img/icon_arrow_nav.svg);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-current {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Filter */
.catalog-filter {
  grid-column: 1 / 2;
  grid-row-start: 3;
  grid-row-end: 5;


  background-color: var(--basic-grey-light);
}

.catalog-filter h2,
.catalog-filter h3 {
  margin: 0;
}

.catalog-filter h2 {
  margin-bottom: 86px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 60px;
  padding-right: 80px;

  display: block;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-grey-dark);
}

.catalog-filter h3 {
  position: relative;
  display: block;

  margin-bottom: 19px;
  padding-left: 60px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.catalog-filter h3::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 60px;
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
}



/* catalog-range-slider */
.catalog-range-slider {
  margin-bottom: 67px;
}

.range-slider-track {
  position: relative;
  margin-left: 60px;

  box-sizing: border-box;
  width: 200px;
  height: 42px;

  padding-top: 20px;
}

.scale {
  width: 200px;
  height: 2px;
  background-color: var(--black-opacity-20);
}

.range-slider-track .bar {
  width: 50%;
  height: 2px;
  background-color: var(--special-green);
}

.pin {
  position: absolute;
  top: 50%;

  width: 19px;
  height: 21px;

  margin-top: -9px;
  padding: 0;

  cursor: pointer;
}


.pin-min {
  left: 0;
}

.pin-max {
  left: 100px;
}

/* price-output */
.price-output {
  position: absolute;
  top: 33px;
}

.price-min {
  left: 0;
}

.price-max {
  left: 100px;
  margin-left: -18px;
}

/* fieldset */
.catalog-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* catalog-filter-color */
.catalog-filter .catalog-filter-color {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  border: none;
}

.catalog-filter-color h3 {
  margin-bottom: 27px;
}

.filter-color-list li:not(:last-child) {
  margin-bottom: 11px;
}

.catalog-filter legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-color-list {
  margin: 0;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}



/* catalog-filter-bluetooth */
.catalog-filter-bluetooth h3 {
  margin-bottom: 27px;
}

.filter-bluetooth-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.filter-bluetooth-list li:not(:last-child) {
  margin-bottom: 12px;
}

.catalog-filter label {
  position: relative;
  padding-left: 42px;

  font-size: 14px;
  line-height: 19px;
}

.catalog-filter-bluetooth label {
  padding-left: 40px;
}

/* filter-input-checkbox */
.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 0;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 2px var(--basic-black);
  border-radius: 2px;
}

.filter-input-checkbox:focus + label::before {
  box-shadow:
      0 0 0 2px var(--basic-black),
      0 0 0 5px var(--special-green);
}

.filter-input-checkbox:checked + label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 14px;
  height: 11px;
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M2.077 3.75L.385 5.5l5.076 5.25L13.923 2 12.231.25l-6.77 7-3.384-3.5z" fill="%23000"/%3E%3C/svg%3E');
}

/* .filter-input-checkbox:disabled */
.filter-input-checkbox:disabled + label::before {
  box-shadow: 0 0 0 2px var(--basic-half-grey);
}

.filter-input-checkbox:disabled:checked + label::after {
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M2.077 3.75L.385 5.5l5.076 5.25L13.923 2 12.231.25l-6.77 7-3.384-3.5z" fill="%23888"/%3E%3C/svg%3E');
}

.filter-input-checkbox.disabled + label,
.filter-input-checkbox:disabled + label,
.filter-input-checkbox.disabled:checked + label,
.filter-input-checkbox:checked:disabled + label {
  color: var(--basic-half-grey);
  cursor: default;
}

/* filter-input-radio */
.filter-input-radio + label::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 0;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 2px var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:focus + label::before {
  box-shadow:
      0 0 0 2px var(--basic-black),
      0 0 0 5px var(--special-green);
}

.filter-input-radio:checked + label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 6px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

/* show */
.catalog-filter .show {
  margin-left: 60px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 9px;
  padding-bottom: 9px;

  border: none;
  background-color: transparent;
}



/* catalog-sort */
.catalog-sort {
  grid-column: 2 / -1;
  display: flex;
  align-items: baseline;

  margin-bottom: 70px;
  padding-right: 4px;

  background-color: var(--basic-grey-light);
}

.catalog-sort h2 {
  margin: 0;
  margin-right: 74px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* catalog-sort-list */
.catalog-sort-list {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.catalog-sort-list li:not(:last-child) {
  margin-right: 30px;
}

.catalog-sort-list a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-sort-list a:hover {
  opacity: 0.6;
}

.catalog-sort-list a:active {
  opacity: 1;
}

.sort-current a:not([href]) {
  opacity: 1;
}

/* hotels-sort-quantity */
.hotels-sort-quantity {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-sort-quantity li:first-child {
  margin-right: 23px;
}

.sort-quantity-item path {
  fill: var(--basic-black);
  opacity: 0.2;
}

.sort-quantity-item.active path {
  opacity: 1;
}

.sort-quantity-item:hover:not(.active) path {
  opacity: 0.4;
}

.sort-quantity-item:active:not(.active) path {
  opacity: 1;
}

/* price-list */
.catalog-price-list {
  grid-column: 2 / -1;
  margin-left: 72px;
}

.price-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-bottom: 40px;
}

.price-list-item {
  margin-bottom: 48px;
}

.price-list-item:nth-child(2n+2) {
  margin-left: 40px;
}

.price-list-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

/* price-list-image */
.price-list-image {
  display: flex;
  position: relative;
  margin-bottom: 28px;
}

.hover-background-item {
  display: none;
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: var(--background-item-hover);
}

.price-list-item:hover .hover-background-item {
  display: block;
}

/* add-cart */
.add-cart {
  position: absolute;
  top: 169px;
  left: 77px;

  padding-left: 37px;
  padding-right: 37px;
  padding-top: 9px;
  padding-bottom: 9px;
}

/* add-compare */
.add-compare {
  position: absolute;
  top: 224px;
  left: 94px;

  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  color: var(--basic-black);
}

.add-compare:hover {
  opacity: 1;
}

.add-compare:active {
  opacity: 0.2;
}

/* price-list-desc */
.price-list-desc {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.price-list-desc h3 {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding-right: 1px;
  width: 275px;
  margin-right: auto;

  line-height: 22px;
}

.price-list-desc h3:hover,
.price-list-desc h3:focus {
  opacity: 0.6;
}

.price-list-desc h3:active {
  opacity: 0.3;
}

.price-list-desc a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.price-list-desc .item-price {
  display: block;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/* catalog-pagination */
.catalog-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
  height: 70px;
  background-color: var(--pagination-background);

}

.catalog-pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  padding-left: 15px;
  padding-right: 15px;
}
.pagination-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-opacity-30);
  background-color: var(--pagination-background);
}

.pagination-item a:hover {
  color: var(--black-opacity-60);
}

.pagination-item a:hover {
  color: var(--basic-black);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
}

/* pagination-button */
.pagination-button {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 29px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--pagination-background);
}

.pagination-button:hover {
  background-color: var(--pagination-button-hover);
}

.pagination-button:active {
  color: var(--black-opacity-30);
  background-color: var(--pagination-button-hover);
}

.pagination-button.disabled:not([href]) {
  cursor: default;
  color: var(--basic-black);
  background-color: var(--pagination-background);
}

.new-product {
  position: relative;
}

.new-product::after {
  content: '';
  position: absolute;
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
  background-image: url(../img/new-product.svg);
}

/* logged-footer */
.logged-footer {
  display: grid;
  grid-template-columns: 200px 100px 100px 100px;
}

.logged-footer li {
  margin-left: 0;
  margin-bottom: 20px;
}

.logged-footer li:nth-child(4n+1) {
  margin-right: 0;
  padding-left: 45px;
  padding-right: 10px;
}

.logged-footer li:nth-child(4n+2) {
  margin-right: 0;
  padding-right: 30px;
}

.logged-footer li:nth-child(4n+3) {
  margin-right: 0;
  padding-left: 9px;
}

.logged-footer li:nth-child(4n+4) {
  margin-right: 0;
  padding-left: 30px;
  text-align: right;
}

.logged-footer .icon-user {
  position: absolute;
  top: 10px;
  left: 22px;
}

.logged-footer .icon-compare {
  top: 11px;
  left: -15px;
}

.logged-footer .icon-cart {
  top: 9px;
  left: 18px;
}
